.form{
    background-color: rgb(143, 138, 138);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 80vw;
}

.title {
    font-size: 30px;
    font-weight: 300;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 80vw;
}

.formInputs {
    display: flex;
    flex-direction: column;
    width:95%;
}

input {
    background-color: rgb(255, 255, 255);
    height: 24px;
    padding: 6px;
    border: 1px solid black;
    margin: 2px;
    outline: none;
}

.reserve {
    background-color: rgb(145, 29, 9);
    color: white;
    height: 25px;
    margin-top: 10px;
    font-size: 15px;
    width: 99%;
    border-radius: 20px;
    align-self: center;
    border: none;
}

.reserve:hover {
    background-color: rgb(161, 74, 47);
    cursor: pointer;
    transition: 0.3s ease;
}