.container{
    max-width: 1000px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    list-style-type: none;
    padding-left: 0;
    color:  black;
}

.item{
    margin-bottom: 30px;
    height: 15vh;
}

.topLine{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 6vh;
}

.title{
padding-left: 3vw;
}

.price{
padding-left: 5vw;
color: rgb(51, 35, 28);
}

.bottomLine{
    text-align: left;
    padding-left: 3vw;
}