.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; 
    margin-bottom: 10vh;
}

.header{
    background-color: rgb(0, 0, 0);
    width: 100vw;
    max-width: 100%;
    height: 15vh;
    margin-top: 0;
    font-weight: 200;
    z-index: 0;
    font-weight: 200;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.call{
    color: black;
    margin-bottom: 5vh;
}

.find{
    color: black;
    margin-bottom: 5vh;
}

.formTitle{
    color: black;
}

.contactForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
    max-width: 700px;
    height: 40vh;
}

.formElements{
    border: 2px solid rgb(69, 69, 69);
    border-radius: 3px;
    margin: 0 0  4px 0;
}

.formSubmit{
    margin: 0;
    height: 4vh;
    border: 2px solid rgb(69, 69, 69);
    border-radius: 20px;
    padding: 2px;
    background-color: rgb(145, 29, 9);
    font-size: 18px;
}

.formSubmit:hover{
    background-color: rgb(161, 74, 47);
    cursor: pointer;
    transition: 0.3s ease;
}

.map{
    margin: 30px;
}