.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10vh;
}

.title {
  background-color: rgb(0, 0, 0);
  width: 100vw;
  max-width: 100%;
  left: 0;
  height: 15vh;
  margin-top: 0;
  font-weight: 200;
  z-index: 0;
  font-weight: 200;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.primarySelectButtons {
  max-width: 1000px;
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 8vh;
  padding: 3px;
}

.secondarySelectButtons {
  max-width: 1000px;
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 5vh;
  padding: 3px;
}

.buttons {
  height: 100%;
  max-width: 200px;
  width: 20vw;
  margin: 0 3px 0 3px;
  text-decoration: none;
  border: 2px solid rgb(145, 29, 9);
  border-radius: 2px;
}

.buttons:hover {
  cursor: pointer;
  color: rgb(146, 82, 82);
  transition: 0.3s ease;
}

.buttons:active {
  background-color: rgb(146, 82, 82);
  color: black;
  border: 4px solid black;
}
