.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  max-width: 100%;
  height: 7vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 17px;
  background-color: rgb(145, 29, 9);
  justify-content: flex-start;
}

@media screen and (max-width: 450px) {
  .footer {
    font-size: 13px;
  }
}

@media screen and (max-width: 340px) {
  .footer {
    font-size: 10px;
  }
}

.top {
  margin: 4px 0 0 0;
}

.bottom {
  margin: 4px 0 0 0;
}
