.navBar {
  background-color: black;
  height: 8vh;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  z-index: 1;
  max-width: 100vw;
}

.logo {
  margin-left: 10vw;
  margin-right: auto;
}

.menuSelections {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  text-decoration: none;
  padding-right: 3vw;
}

.links {
  text-decoration: none;
  color: white;
  margin: 7px;
  font-size: 20px;
}

.links:hover {
  color: rgb(146, 82, 82);
}

.showMenuButton {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 25px;
  cursor: pointer;
  padding-right: 3vw;
}

.showMenuButton:hover {
  color: rgb(146, 82, 82);
  transition: 0.3s ease;
}

.dropdown {
  display: block;
  position: absolute;
  margin-top: 4vh;
  left: 0px;
  right: 0px;
  width: auto;
  background-color: white;
  text-align: left;
  list-style-type: none;
  padding-left: 0vw;
  color: black;
  font-size: large;
}

.li {
  color: black;
  margin: 0px;
  height: 6vh;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2vh;
  text-decoration: none;
}

.li:hover {
  color: rgb(146, 82, 82);
  transition: 0.3s ease;
  cursor: pointer;
}
